#include "windows.h"

1000 DIALOG DISCARDABLE  200, 100, 250, 38
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "BASSenc recording to OGG/MP3/ACM test"
FONT 8, "MS Sans Serif"
BEGIN
    COMBOBOX        13,5,5,65,72,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CTEXT           "",15,5,18,65,8,SS_CENTERIMAGE
    CONTROL         "",14,"msctls_trackbar32",TBS_BOTH | TBS_NOTICKS | 
                    WS_TABSTOP,5,27,65,9
    GROUPBOX        "",-1,75,2,70,32
    CONTROL         "OGG",16,"Button",BS_AUTORADIOBUTTON | WS_GROUP | 
                    WS_TABSTOP,80,10,30,10
    CONTROL         "MP3",17,"Button",BS_AUTORADIOBUTTON,112,10,30,10
    CONTROL         "ACM WAVE",18,"Button",BS_AUTORADIOBUTTON,80,21,52,10
    PUSHBUTTON      "Record",10,150,5,55,13,WS_GROUP
    PUSHBUTTON      "Play",11,210,5,35,13,WS_DISABLED
    CTEXT           "",20,150,22,95,12,SS_CENTERIMAGE | SS_SUNKEN
END
