
form 
{
}

form label 
{
  line-height:2em;
  display: inline-block;
  width:30%;
  text-align:right;
}

pre#out 
{
  border-top: 1px dashed gray;
  padding:10px;
  background: lavender;
  height:*; /* takes the rest space left */
  overflow:auto;
}

form span.error 
{
  display: inline-block;
  margin-left: 10px;
  color:red;
}
