<!-- html pallette: list of elements defined in content-style -->
<div .html-palette >
  <ul .section>
    <caption>Span</caption>
    <li .entry element-type="span" element="" >Normal</li>
    <li .entry element-type="span" element="em" ><em>Emphasis</em></li>
    <li .entry element-type="span" element="strong" ><strong>Strong</strong></li>
    <li .entry element-type="span" element="code" ><code>Code</code></li>        
    <li .entry element-type="span" element="cite" ><cite>Citation</cite></li>
    <li .entry element-type="span" element="dfn" ><dfn>Definition</dfn></li>
    <li .entry element-type="span" element="q" ><q>Inline Quotation</q></li>
    <li .entry element-type="span" >Hyperlink</li>
  </ul>
  <ul .section>
    <caption>Paragraph</caption>
    <li .entry element-type="para" element="p">Paragraph</li>
    <li style="flow:h-flow">
      <div .entry element-type="para" element="h1" >H1</div>
      <div .entry element-type="para" element="h2" >H2</div>
      <div .entry element-type="para" element="h3" style="clear:right">H3</div>
      <div .entry element-type="para" element="h4" >H4</div>
      <div .entry element-type="para" element="h5" >H5</div>
      <div .entry element-type="para" element="h6" >H6</div></li>
  </ul>
  
  <ul .section>
    <caption>List</caption>
    <li .entry element-type="list-item" element="ul/li">Unordered list</li>
    <li .entry element-type="list-item" element="ol/li">Ordered list</li>
    <li .entry element-type="list-item" element="dl/dt">Definition term</li>
    <li .entry element-type="list-item" element="dl/dd">Definition description</li>
  </ul>
  
  <ul .section>
    <caption>Blocks</caption>
    <li .entry element-type="block" element="blockquote">Quotation</li>
    <li .entry element-type="block" element="address">Address</li>
    <li .entry element-type="block" element="pre">Plain Text</li>
  </ul>
</div>