	#right-sb .clock 
  {
	   behavior:clock;
	   color:black; /* our behavior will use it for "hands" */
	   width:77px;
	   height:77px;
     margin:20px 50%%;

       /* clock face */	   
	   background-image:url(images/clock/clock-back.png);
	   background-repeat:no-repeat;	   
	   background-position:50% 50%; /* middle center */
	   
	   /* clock glass */	   
	   foreground-image:url(images/clock/clock-fore.png);
	   foreground-repeat:no-repeat;	   
	   foreground-position:50% 50%; /* middle center */
	}	
