
div#lightbox
{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  prototype: PictureLightbox;
}
div#lightbox > div.frame
{
  flow:"1 1"
       "2 3";
  margin:*;
  width:min-intrinsic;
  height:min-intrinsic;
  padding:8px;
  background-image:url(images/frame.png);
  background-repeat:expand;
  background-position:8 8 8 8;
  visibility:hidden;  
  behavior:button;
}

div#lightbox > div.frame > picture
{
  width:*;
  height:*;
  border-top: 1px solid #777;
  border-left: 1px solid #777;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
} 

div#lightbox > div.frame > text.title
{
  width:*;
} 
div#lightbox > div.frame > widget.close
{
  //width:max-intrinsic;
} 