<div #hyperlink-props>
  <text>URL: <input #url type="url" /></text>
  <text>Window:<select #target editable></text>
    <option value="_blank">New window/tab</option>
    <option value="_parent">Parent window</option>
    <option value="_top">Main window</option>
  </select>
  <text>Named anchors defined in the document:</text>
  <widget #anchors type="select"></widget>
  <text .comment>Click twice on item above to select it as a URL.</text>
</div>
<div #image-props>
  ... 
</div>
<div #table-props>
  ... 
</div>
<div #cell-props>
  ... 
</div>
